/**
 * {{ ucomp }} registers
 * @file {{ filename }}
 *
 * @copyright (c) 2020 SiFive, Inc
 * @copyright SPDX-License-Identifier: MIT
 */

#ifndef SIFIVE_{{ ucomp }}_H_
#define SIFIVE_{{ ucomp }}_H_

/* following defines should be used for structure members */
#define __IM   volatile const   /**< Defines 'read only' structure member permissions */
#define __OM   volatile         /**< Defines 'write only' structure member permissions */
#define __IOM  volatile         /**< Defines 'read / write' structure member permissions */

typedef struct _{{ ucomp }} {
{%- for name, (perm, type_, name, desc) in cgroups.items() %}
    {{perm}} {{type_}} {{name}}{% if desc %}/**< {{desc}} */{% endif -%}
{% endfor %}
} {{ ucomp }}_Type;

#endif /* SIFIVE_{{ ucomp }}_H_ */

